*{
    margin:0px;
    padding:0px;
    }
    
    
    nav{
    border-top:3px solid rgb(139, 52, 36);
    background:	#1e5c5c;
    text-align:center;
    width:100%;
    }
    
    nav ul{
    list-style:none;
    }
    
    nav li {
    display:inline-block;
    }
    
    nav li a{
    display:block;
    padding:15px 20px;
    font:15px tahoma, arial;
    color:#fff;
    text-decoration:none;
    }
    
    nav li a:hover{
    background:rgb(139, 52, 36);
    }
    
    
    
    
    nav li ul{
    text-align:left;
    display:none;
    position:absolute;
    background:#1e5c5c;
    width:200px;
    }
    
    nav li:hover ul{
    display:block;
    }
    
    nav li ul li{
    display:block;
    
    }

    .logo {
        float: left;
        width: 140px;
        height: 70px;
        margin: 0px 0px;
        
        
   }

   body{
    margin:0;
    padding:0;
    background:#e6f0f0;
    }

    .slidershow{
        width:700px;
        height:400px;
        overflow: hidden;
     }

     .middle{
         position: absolute;
         top: 55%;
         left: 50%;
         transform: translate(-50%, -50%) ;
     }
      
     .navigation{
         position: absolute;
         bottom: 20px;
         left: 50%;
         transform: translateX(-50%);
         display:flex;
         
     }

     .bar{
         width: 80px;
         height: 10px;
         border: 2px solid #fff;
         margin: 6px;
         cursor: pointer;
         transition: 0.4s;

     }

     .bar:hover{
         background:rgb(139, 52, 36);

     }

     input[name="r"]{
         position: absolute;
         visibility: hidden;
     }

     .slides{
         width: 500%;
         height: 100%;
         display: flex;
     }

     .slide{
         width: 20%;
         transition: 0.6s;

     }

     .slide img{
         width: 100%;
         height: 100%;
     }

     #r1:checked ~ .s1{
         margin-left: 0;
     }
     #r2:checked ~ .s1{
        margin-left: -20%;

     }
     #r3:checked ~ .s1{
        margin-left: -40%;
     }
     #r4:checked ~ .s1{
        margin-left: -60%;
     }
    #r5:checked ~ .s1{
        margin-left: -80%;
     }


    
